@model List<Category>


<li class="nav-item dropdown">
    <a asp-controller="Pie" asp-action="Index" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" 
    aria-expanded="false">
        Pies
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var category in Model)
        {
            
        <li><a class="dropdown-item" asp-action="List" asp-controller="Pie" asp-route-Category="@category.CategoryName">@category.CategoryName</a></li>
        }
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-action="List" asp-controller="Pie">View All Pies</a></li>
    </ul>
</li>